/*
|--------------------------------------------------------------------------
| #THEME TABLES
|--------------------------------------------------------------------------
*/




table {

}

thead {
    border-bottom: none;
    color: rgba(color(primary), .4);

    @include breakpoint(md) {
        display: none;
    }
}

tbody {

    small {
        display: block;
        color: color(grey-light);
    }

    span {
        padding: $gutter * .15 $gutter * .5;
        background: color(grey-lighter);
        color: color(secondary);
        border-radius: radius(round);

        a {
            color: color(secondary);
        }
    }
 
    tr {
        position: relative;
        background: color(white);
        overflow: hidden;

        @if ($has-radius) {
            border-radius: radius(small);
        }

        @if ($has-shadow) {
            @include shadow(raised);
        }
    }

    .spacer {
        display: block;
        margin-bottom: $gutter * .5;
    }
}

td {
    padding: $gutter * .5 $gutter * .5;

    &:first-of-type {
        padding-left: $gutter;
    }

    @include breakpoint(md) {
        display: block;

        &:before {
            content: attr(data-th)': ';
        }
    }
}

tr {

    img {
        height: 50px;
        width: 50px;
        border-radius: radius(circle);
    }
}
