{% extends 'layouts/app.twig' %}

{% block content %}
    <form action="/post" method="post">
        <input type="text" value="test">
        <button type="submit">Submit</button>
    </form>
{% endblock %}
