/*
|--------------------------------------------------------------------------
| #DARK
|--------------------------------------------------------------------------
*/




// #SIDEBAR
// =========================================================================

@if ($has-sidebar) {

    .dashboard {
        position: relative;
        float: right;
        width: calc(100% - #{$sidebar-width});
        min-height: 100vh;
        padding: calc(#{$gutter} + #{$sidebar-brand-height}) $gutter $gutter;
    }

    .dashboard-nav {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        height: $sidebar-brand-height;
        width: calc(100% - #{$sidebar-width});
        background: color(grey-lightest);
        padding: $gutter;
    }

}




// #DARK
// =========================================================================

@if ($is-dark) {

    body {
        background: color(black);
    }

}




// #OFF WHITE
// =========================================================================

@if not ($is-background-white) {

    body {
        background: color(grey-lightest);
    }
    
    .dashboard-nav {
        background: color(white);
    }
}
